body {
    margin: 0;
    overflow: auto; /* Enable scrolling */
    background-color: black;
    color: rgb(255, 58, 176);
    font-family: Arial, sans-serif;
    font-size: 80%;
    position: relative;
    z-index: 1; /* Ensure content is above canvas */
}

a {
    text-decoration: none;
}

/* unvisited link */
a:link, a:visited {
    text-decoration: none;
}

/* mouse over link */
a:hover {
    text-decoration: line-through;
}

/* selected link */
a:active {
    text-decoration: none;
}

#artCanvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; /* Ensure canvas is behind content */
}

.content_menu1, .content_menu1_working {
    position: relative;
    z-index: 1; /* Ensure content is above canvas */
    text-align: center;
    margin-top: 4%;
}

.content_menu1 a, .content_menu1_working a {
    font-size: 110%;
}

.content_menu1_working a:hover {
    text-decoration: underline;
    font-size: 110%;
}

details {
    position: relative;
    font-size: 110%;
    text-align: center;
    margin-top: 4%;
}

details > summary {
    cursor: pointer;
    list-style: none;
}

details > summary:hover {
    text-decoration: underline;
}

details > p {
    font-size: 110%;
    color: #ffffff;
    line-height: 170%;
}

footer {
    text-align: center;
    margin-top: 8%;
}